body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family:'Roboto';
}

.maincontainer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.container1child {
    display: flex;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 10px;
    padding-left: 10px;
}

.header {
    display:flex;
    justify-content: space-between;
    color: white;
    padding: 14px;
}

.header-links {
    display:flex;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
    font-size: small;
 }

.logo {
    font-weight: bolder;
    font-size: larger;
}

.image1 {
    max-height: 220px;
    border-radius: 30px;
}

h1, .intro, .signup {
    max-width: 305px;
    margin: 5px;
}

.intro {
    font-size: small;
}

.signup {
    font-weight: bold;
    padding: 6px 24px;
    border-radius:5px;
    background-color: #3882F6;
    color: white;
    border: 1px solid black;
}

.container1 {
    color: white;
}